body{
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}
.img1 img,.img3 img{
    position: relative;
    opacity: 50%;
    height:300px;
    width:300px;
}

.img2 img{
    position: relative;
    opacity: 50%;
    height:250px;
    width:300px;
    left: 1121px;
}
.img3 img{
    bottom: 80px;
}