@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.cap1{
    display: flex;
    
}
.font-1{
    position: relative;
    top: 88px;
    left: 105px;
} 
.font-1 h2{
    font-family: 'Poppins', sans-serif;
}
.gif{
    position: relative;
    left: 960px;
    bottom:147px;
    height: 333px;
    width: 306px;
}
.gif img{
    position: relative;
    height: 457px;
    width: 464px;
    /* bottom: 255px */
}
.cap2{
    
    position: relative;
    left: 155px;
    /* bottom: 76px; */
    top: -74px;
    width: 14in
}
.cap-2 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    position: relative;
    left: 76px;
    /* bottom:46px; */
}
.font-1 h2{
    font-size: 50px;
}
.font-1 p{
    font-weight: 400;
}
.btn{
    position: absolute;
    bottom: 297px;
    left: 190px;
}
.btn button{
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 0.2px;
    padding: 10px;
    width: 227px;
    border-radius: 7px;
    
}
.btn button:hover{
    background-color: rgb(46, 46, 75);
    color: white;
}